@{
    ViewData["Title"] = "Home Page";
}

@model MainModel

<div class="text-center">
    <h1 class="display-4">Welcome to XO by mat7400 - sinleplayer mode 9x9 - 4 in a row to win </h1>
    <!-- поле 7х7 -->
    <p>
        >Click  to generate X or O</p>
        <p> 
        <a asp-action="reload">reload game</a>
    </p>
    <p>player @Model.CurrentPlayer move</p>
    @for (int i = 0; i < 9; i++)
    {
        @Html.Raw(Model.beginhtml[i]); 
        for (int j = 0; j < 9; j++)
        {
            string curr = Model.strarr[j,i];

            @Html.Raw(curr); 
            
            @Model.Field2[j,i];

            @Html.Raw("  </a></div>");
        }
        @Html.Raw(Model.endhtml[i]);  
            
    }
</div>
